<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.0</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>0.0</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>259.631591796875</real>
	<key>finishParticleSizeVariance</key>
	<real>44.052631378173828</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>989.92596435546875</real>
	<key>maxParticles</key>
	<real>30</real>
	<key>maxRadius</key>
	<real>276.20999145507812</real>
	<key>maxRadiusVariance</key>
	<real>154.94999694824219</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.5</real>
	<key>particleLifespanVariance</key>
	<real>0.32843339443206787</real>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>35.529998779296875</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>145.80592346191406</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>0.0</real>
	<key>sourcePositionVariancey</key>
	<real>0.0</real>
	<key>sourcePositionx</key>
	<real>367.91622924804688</real>
	<key>sourcePositiony</key>
	<real>293.7288818359375</real>
	<key>speed</key>
	<real>85.47491455078125</real>
	<key>speedVariance</key>
	<real>178.14555358886719</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>0.1458333283662796</real>
	<key>startColorRed</key>
	<real>0.52083331346511841</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>252.63157653808594</real>
	<key>startParticleSizeVariance</key>
	<real>23.552631378173828</real>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>Team_A1.png</string>
</dict>
</plist>
